#container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.square {
    border-style: double;
    background-color: blue;
    flex: 1 1 auto;
}

.square.hovered {
    background-color: red;
}

h1,
h2,
h3 {
    margin-bottom: 16px;
    color: #333;
}